.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 10rem;
}

.pagination-item {
  font-size: 2rem;
}

.page {
  display: flex;
  align-items: center;
  margin: 0 2rem;
  gap: 1rem;
}
