header {
  background-color: var(--gray);
  min-width: 37.5rem;

  position: fixed;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  height: var(--nav-height);
}

.header-container #btn-menu {
  position: absolute;
  left: 2rem;

  font-size: 2.5rem;
  display: flex;
  align-items: center;
  color: var(--yellow);
}

.header-container button svg {
  pointer-events: none;
}

.header-container h2 {
  color: var(--yellow);
}

@media (min-width: 990px) {
  .header-container {
    justify-content: space-between;
    position: initial;
  }

  .header-container #btn-menu {
    display: none;
  }
}
